{%- macro category(tag = 'posts') %}
<!--  -->
{%- set data = collections[tag] %}

<!--  -->
{% for content in data %}
<article>
  <h2 id="{{ content.data.title or 'no-slug' | slug }}">
    <a href="{{ content.url }}">{{ content.data.title }}</a>
  </h2>
  <p>
    {% if content.data.summary.length -%}
    {{ content.data.summary }}
    {% else %}
    {{ hlp.11ty.noHtml(content.templateContent) |
    truncate(300) }}
    {% endif -%}
  </p>
  <div>
    <time datetime="{{ page.date.toLocaleString() }}">
      {# Posted: {{ content.date  }} #}
      Posted: {{ hlp.11ty.timePosted(content.date) }}
    </time>
  </div>
  <footer>
    <a href="{{ content.url }}" role="button">
      <em>Continue reading</em>
    </a>
  </footer>
  <hr />
</article>

{% endfor %}
<!--  -->
{% endmacro %}
