@use '@shawnsandy/first-paint/src/styles/critical.scss';

body {
  background-color: #F2F4F6 !important;
  background-image: url("/images/header-bg.svg");
  background-repeat: no-repeat;
  background-size: 100% !important;
}

$pink: #FF4154;

.action-primary,
nav section a {
  color: #FF4154;

  &:active,
  &:visited,
  &:link {
    color: $pink;
  }

  &:hover {
    color: darken($pink, 40)
  }
}

main {
  min-height: 50vh !important;
}


.quicksand {
  font-family: 'Quicksand',
    sans-serif !important;
  font-weight: 700;

  &-medium {
    font-weight: 500;
  }
}
