@use '@shawnsandy/first-paint/src/styles/critical.scss';
@use './vars.scss';

body {
  background-color: vars.$bg !important;
  background-image: url("/images/header-bg.svg");
  background-repeat: no-repeat;
  background-size: 100% !important;
}

.action-primary,
nav section {

  a {
    color: vars.$navy;

    &:active,
    &:visited,
    &:link {
      color: vars.$navy;
    }

    &:hover {
      color: darken(vars.$pink, 5)
    }
  }
}


main {
  min-height: 50vh !important;
}


.quicksand {
  font-family: 'Quicksand',
    sans-serif !important;
  font-weight: 700;

  &-medium {
    font-weight: 500;
  }
}

a[role=button]>em,
.fp-button-link[role=button]>em {
  background-color: vars.$pink;
  border-radius: 6.1875rem !important;
  color: white;

  &:hover {
    background-color: vars.$navy;

  }
}
