@use './vars.scss' as vars;
@use '@shawnsandy/first-paint/src/components.scss';

@include components.button-links();
@include components.form-elements();
// @include components.header-addBorders();
@include components.elements-pre();

a {

}

a[role=button]>em {
  filter: contrast(1.15);
  background-color: vars.$pink;
  color: vars.$white;

  &:hover {
    background-color: vars.$navy;

  }
}

h1, h2, h3 {
  a {

    &:any-link {
      color: vars.$navy;
    }
  }
}

header>section[role=banner] {
  @media (min-width: 980px) {
    max-width: 70%;
  }
}

strong {
  font-weight: 500;
}

[aria-label=feature] {

  ul {
    margin-left: .9rem;
    list-style: disc;
    margin-bottom: 1rem;

    li+li {
      margin-top: .5rem;
    }
  }

  blockquote {
    padding: 3rem 0;
  }
}

nav {
  @media (min-width: 980px) {
    //align-items: center;
  }
}

footer[role="contentinfo"] {
  background-color: #002C4B;
  padding: 2rem 0;
  font-size: .82rem;
  color: #FF4154;

  a {

    &:active,
    &:visited,
    &:link,
    &:hover {
      color: #FF4154
    }

  }

  small {
    font-size: .75rem;
  }
}

a[role=button]>em {

}