<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ settings.title }}</title>
    <meta name="description" content="{{ settings.description }}" />
    <meta name="author" content="{{ settings.author.name }}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap"
      media="all"
      rel="stylesheet"
    />
    <!-- load the critical styles inline -->
    {%- set css %} {% include "src/css/critical.css" %} {%- include
    "src/css/cover-page.css" %} {%- endset %}
    <!-- feed it through our cssmin filter to minify -->
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>

  <body>
    <div data-cover>
      {% include 'partials/nav.njk' %}
      <header>
        <section role="banner">
          <div>
            <!-- <img src="img/fp.svg" alt="" /> -->
            <h2>{{ settings.subtitle }}</h2>
            <h4>
              <span>{{ settings.description }}</span>
            </h4>
            <p>
              <a
                href="/main"
                role="button"
                aria-label="Add word, cta action, to your button title"
              >
                <em>Preview Edition</em></a
              >
            </p>
          </div>
        </section>
      </header>
      <footer role="contentinfo">
        <div>
          <p>
            Copyright &copy; {{ hlp.11ty.currentYear() }} {{
            settings.author.name }} All rights reserved
          </p>
        </div>
      </footer>
    </div>

    <!-- <script src="index.js"></script> -->
  </body>
</html>
